<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

    <log4net>

        <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
            <threshold value="DEBUG" />
            <file value="Debug.log" />
            <appendToFile value="true" />
            <maximumFileSize value="100MB" />
            <maxSizeRollBackups value="10" />
            <RollingStyle value="Size" />
            <ImmediateFlush value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="&lt;log4net:event logger=&quot;%logger&quot; timestamp=&quot;%date{yyyy-MM-ddTHH:mm:ss.fffffffK}&quot; level=&quot;%level&quot; username=&quot;%identity&quot; thread=&quot;%thread&quot;&gt;&lt;log4net:message&gt;&lt;![CDATA[%message]]&gt;&lt;/log4net:message&gt;&lt;log4net:exception&gt;&lt;![CDATA[%exception]]&gt;&lt;/log4net:exception&gt;&lt;/log4net:event&gt;%newline"/>
            </layout>
        </appender>

        <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
            <threshold value="ERROR" />
            <file value="Error.log" />
            <appendToFile value="true" />
            <maximumFileSize value="100MB" />
            <maxSizeRollBackups value="10" />
            <RollingStyle value="Size" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="&lt;log4net:event logger=&quot;%logger&quot; timestamp=&quot;%date{yyyy-MM-ddTHH:mm:ss.fffffffK}&quot; level=&quot;%level&quot; username=&quot;%identity&quot; thread=&quot;%thread&quot;&gt;&lt;log4net:message&gt;&lt;![CDATA[%message]]&gt;&lt;/log4net:message&gt;&lt;log4net:exception&gt;&lt;![CDATA[%exception]]&gt;&lt;/log4net:exception&gt;&lt;/log4net:event&gt;%newline"/>
            </layout>
        </appender>
        
        <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender" >
            <threshold value="DEBUG" />
            <mapping>
                <level value="INFO" />
                <foreColor value="Cyan, HighIntensity" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <foreColor value="Yellow, HighIntensity" />
            </mapping>
            <mapping>
                <level value="ERROR" />
                <foreColor value="Red, HighIntensity" />
                <backColor value="White, HighIntensity" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message%newline" />
            </layout>
        </appender>

        <root>
            <appender-ref ref="DebugFileAppender" />
            <appender-ref ref="ErrorFileAppender" />
            <appender-ref ref="ColoredConsoleAppender" />
        </root>

    </log4net>

</configuration>